<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--sqlMapper.xml文件的编写者，提供者是谁？使用你mybatis框架的java程序员负责提供的-->
<mapper namespace="account">
    <select id="selectByActno" resultType="pojo.Account">
        select * from t_act where actno = #{actno}
    </select>
    
    <update id="updateByActno">
    <!--这里的balance和actno都是传入的账户对象的属性名-->
        update t_act set balance = #{balance} where actno = #{actno}
    </update>

</mapper>