<component name="ArtifactManager">
  <artifact type="war" external-system-id="Maven" name="mybatis-004-web:war">
    <output-path>$PROJECT_DIR$/mybatis-004-web/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>mybatis-004-web</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="mybatis-004-web.war">
      <element id="artifact" artifact-name="mybatis-004-web:war exploded" />
    </root>
  </artifact>
</component>